<!DOCTYPE html>
<html>
<head>
    <title>BeforeYouSayIDo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body style="background-image: url('pink.jpg');background-size:cover;font-family: 'Trirong', serif';">

    <div class="navbarmenu" id="navigation">

        <div style="text-align:center;">
            <div style="font-size: 25px;font-weight:bold;">
                <a class="menuitem mr-3" href="data.html" style="color: darkblue;">Home</a>
                <a class="menuitem mr-3" href="data.html" style="color: darkblue;">Data</a>
                <a class="menuitem mr-3" href="data.html" style="color: darkblue;">Visualizations</a>
                <a class="menuitem" href="Comparison.html" style="color: darkblue;">Full Test</a>
            </div>
        </div>

    </div>
    <div class="container">
        <div style="margin-top: 150px;" class="d-flex flex-wrap justify-content-center">
            <div><span style="font-size: 50px;font-weight: bold;color:darkblue;">Before You Say I Do</span></div>
        </div>
        <div id='page1'>
            <div class="d-flex flex-wrap justify-content-center mt-3"><span style="font-size: 35px;font-weight: bold;color:darkblue;">Is your relationship going to last?</span></div>
            <div class="d-flex flex-wrap justify-content-center mt-3"><span style="font-size: 35px;font-weight: bold;color:darkblue;">Take this short test to find out!</span></div>
            <div class="d-flex flex-wrap justify-content-center mt-3"><input id='next' type="button" style="font-size: 30px;font-weight: bold;color:darkblue;background-color: hotpink;" value="Click Here"></input></div>
        </div>
        <div id='page2' class="d-flex flex-wrap justify-content-center mt-3" style="visibility: hidden;">
            <div><input type="text"></input><span>Ques1</span></div>
        </div>

    </div>
</body>
<script>
    $(document).ready(function(){
        $("#next").click(function(){
            $("#page1").hide();
            $("#page2").removeAttr('style');
        });
    });
</script>
</html>